service vendor.camera-motor-1-0 /system/bin/hw/vendor.pa.camera.motor@1.0-service.oneplus_oneplus7pro
    interface vendor.pa.camera.motor@1.0::ICameraMotor default
    class hal
    user system
    group system
    shutdown critical
